<div id="away">
    <!--<div id="map"></div>-->
    <div id="leave-note">
        <div id="leave-note-inner">Returns in</div> {{remainingDays}} days
    </div>

    <div id="ball-out">
        <section class="stage">
            <div id="ballshadow"></div>
            <figure class="ball-in" id="glb1">

                <div id="next-city">{{dist}} km away</div>
                <div class="city-map-name-inner" id="city1">
                    {{citiesFuture[0].cityName}}

                </div>
                <div id="weather-away">{{upcoming.weather.day1.temphigh}}</div>
                <img id="weather-away-img" [attr.src]="day1">


            </figure>

        </section>
    </div>

    <div id="pin-images-away">
        <div id="pin"></div>
        <div id="images-stack">
        </div>
    </div>


</div>