   /* #map {
        background: url('../../../assets/images/worldmap.png') repeat-x;
        background-size: auto 100%;
        position: absolute;
        left: 170px;
        top: 165px;
        height: 750px;
        width: 1395px;
        border: none;
    }*/
   
   #ball-out {
       position: absolute;
       border: none;
       z-index: 4;
       left: 170px;
       top: 165px;
   }
   
   .stage {
       height: 750px;
       width: 1395px;
       border-radius: 0%;
       display: inline-block;
       margin: 20px;
       -webkit-perspective: 1200px;
       -moz-perspective: 1200px;
       -ms-perspective: 1200px;
       -o-perspective: 1200px;
       perspective: 1200px;
       -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
       -ms-perspective-origin: 50% 50%;
       -o-perspective-origin: 50% 50%;
       perspective-origin: 50% 50%;
   }
   
   .ball-in {
       display: block;
       width: 100%;
       height: 100%;
       margin: 0;
       left: 0;
       top: 0;
       border-radius: 0%;
       background-repeat: repeat-x;
       position: absolute;
       background: url('../../../assets/images/worldmap.png') repeat-x;
       -webkit-transform-style: preserve-3d;
       background-position: calc(100% - 0px) calc(100% - 0px);
       position: absolute;
       -webkit-transform-style: preserve-3d;
       background-size: auto 100%;
   }
   
   .ball-in:before {
       content: "";
       position: relative;
       left: 0%;
       top: 0%;
       width: 100%;
       height: 100%;
       box-shadow: -40px 10px 100px 10px rgba(0, 0, 0, 0.32) inset;
       z-index: 2;
   }
   
   .ball-in:after {
       content: "";
       position: relative;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       box-shadow: -40px 10px 100px 10px rgba(0, 0, 0, 0.32) inset;
       z-index: 2;
   }
   
   #ballshadow {
       content: "";
       position: absolute;
       border: 1px solid #8080807d;
       border-radius: 50%;
       width: 180px;
       height: 170px;
       left: 0px;
       -webkit-filter: blur(0);
       opacity: 0.3;
       display: none;
       background: radial-gradient(circle at 50% 80%, #b3b3b300, #b3b3b300 10%, #00000073 66%, #000000 100%);
   }
   
   #pin-images-away {
       position: absolute;
       top: 300px;
       left: 880px;
       z-index: 5;
       #pin {
           position: absolute;
           top: 20px;
           z-index: 2;
           height: 25px;
           width: 25px;
           background-color: rgba(187, 187, 187, 0);
           border: 15px solid var(--main-timeline-color);
           border-radius: 50%;
           display: inline-block;
       }
       #images-stack {
           width: 100%;
           height: 100%;
           position: absolute;
           z-index: 1;
           #image-stack-1 {
               position: absolute;
               transform: rotate(25deg);
               background-repeat: no-repeat;
               background-size: auto 100%;
               width: 100px;
               height: 50px;
               left: 35px;
               top: 25px;
               transition: 2s;
           }
       }
   }
   
   #citytext {
       mix-blend-mode: difference;
       font-size: 80px;
       position: absolute;
       z-index: 200;
       color: #111626;
       top: 159px;
   }
   
   #city1 {
       opacity: 1;
   }
   
   #city2 {
       opacity: 0;
   }
   
   #city3 {
       opacity: 0;
   }
   
   #city4 {
       opacity: 0;
   }
   
   #city5 {
       opacity: 0;
   }
   
   #city6 {
       opacity: 0;
   }
   
   #city7 {
       opacity: 0;
   }
   
   .city-map-name-inner {
       mix-blend-mode: difference;
       color: var(--main-timeline-color);
       top: 250px;
       left: 0px;
       position: absolute;
       z-index: 4;
       line-height: 0.8;
       font-family: "AvenirBolder";
       font-size: 200px;
       //color: white;
       text-transform: uppercase;
       //color: rgb(61, 78, 99);
   }
   
   #weather-away {
       font-size: 1.5vw;
       font-family: "AvenirLight";
       top: 429px;
       //text-transform: uppercase;
       mix-blend-mode: difference;
       color: #b0b6b6;
       left: 51px;
       position: absolute;
       letter-spacing: -2px;
   }
   
   #weather-away-img {
       display: inline;
       position: absolute;
       width: 40px;
       left: 7px;
       top: 420px;
       padding-top: 7px;
   }
   
   #next-city {
       font-size: 1.5vw;
       font-family: "AvenirLight";
       top: 396px;
       //text-transform: uppercase;
       mix-blend-mode: difference;
       color: var(--main-timeline-color);
       left: 8px;
       position: absolute;
   }
   
   //ANIMATION
   @-moz-keyframes move-map-globe {
       0% {
           background-position: calc(100% - 0px) calc(100% - 0px);
       }
       100% {
           background-position: calc(-500%) calc(100% - 0px);
       }
   }
   
   @-webkit-keyframes move-map-globe {
       0% {
           background-position: calc(-500%) calc(100% - 0px);
       }
       100% {
           background-position: calc(100% - 0px) calc(100% - 0px);
       }
   }
   
   @-o-keyframes move-map-globe {
       0% {
           background-position: calc(100% - 0px) calc(100% - 0px);
       }
       100% {
           background-position: calc(-500%) calc(100% - 0px);
       }
   }
   
   @-ms-keyframes move-map-globe {
       0% {
           background-position: calc(100% - 0px) calc(100% - 0px);
       }
       100% {
           background-position: calc(-500%) calc(100% - 0px);
       }
   }
   
   @keyframes move-map-globe {
       0% {
           background-position: calc(100% - 0px) calc(100% - 0px);
       }
       100% {
           background-position: -1000px calc(100% - 0px);
       }
   }
   
   #leave-note {
       background-color: var(--main-timeline-color);
       position: absolute;
       font-family: "Avenir";
       width: 163px;
       height: 65px;
       line-height: 30px;
       top: 2%;
       right: 1%;
       color: white;
       z-index: 10;
       padding: 5px;
       font-size: 38px;
       border: 1px solid var(--main-timeline-color);
       border-radius: 0px 20px 20px 20px;
       #leave-note-inner {
           font-size: 20px;
           font-family: "AvenirLight";
       }
   }