<div>
    <div id="timeline">
        <div id="timeline-past">
            <ul>
                <div *ngFor="let city of citiesPast;  let i=index">
                    <li *ngIf="i<5">
                        <div class="timeline-bubble" id="{{ 'timeline-city-' + (i+1) }}"></div>

                        <div class="timeline-bubble"></div>
                        <div id="timeline-date-month">
                            <h1>{{city.dateMonth}}

                            </h1>

                        </div>
                        <div id="timeline-date-year">
                            <h2>{{city.dateYear}}</h2>
                        </div>
                        <div id="timeline-city-name" (click)="nextCitySlideshow()">
                            <h3>{{city.cityName}}</h3>

                        </div>
                    </li>
                </div>

            </ul>
        </div>
        <!--   <div id="timeline-past">
            <ul>
                <li>
                    <div class="timeline-bubble" id="timeline-city-1"></div>
                    <div class="timeline-bubble"></div>
                    <div id="timeline-date-month">
                        <h1>{{citiesPast[0].dateMonth}}

                        </h1>

                    </div>
                    <div id="timeline-date-year">
                        <h2>{{citiesPast[0].dateYear}}</h2>
                    </div>
                    <div id="timeline-city-name">
                        <h3>{{citiesPast[0].cityName}}</h3>

                    </div>
                </li>
                <li>
                    <div class="timeline-bubble" id="timeline-city-2"></div>

                    <div class="timeline-bubble"></div>
                    <div id="timeline-date-month">
                        <h1>{{citiesPast[1].dateMonth}}

                        </h1>

                    </div>
                    <div id="timeline-date-year">
                        <h2>{{citiesPast[1].dateYear}}</h2>
                    </div>
                    <div id="timeline-city-name">
                        <h3>{{citiesPast[1].cityName}}</h3>

                    </div>
                </li>
                <li>
                    <div class="timeline-bubble" id="timeline-city-3"></div>

                    <div class="timeline-bubble"></div>
                    <div id="timeline-date-month">
                        <h1>{{citiesPast[2].dateMonth}}

                        </h1>

                    </div>
                    <div id="timeline-date-year">
                        <h2>{{citiesPast[2].dateYear}}</h2>
                    </div>
                    <div id="timeline-city-name">
                        <h3>{{citiesPast[2].cityName}}</h3>

                    </div>
                </li>
                <li>
                    <div class="timeline-bubble" id="timeline-city-4"></div>

                    <div class="timeline-bubble"></div>
                    <div id="timeline-date-month">
                        <h1>{{citiesPast[3].dateMonth}}

                        </h1>

                    </div>
                    <div id="timeline-date-year">
                        <h2>{{citiesPast[3].dateYear}}</h2>
                    </div>
                    <div id="timeline-city-name" (click)="previousCitySlideshow()">
                        <h3>{{citiesPast[3].cityName}}</h3>

                    </div>
                </li>
                <li>
                    <div class="timeline-bubble" id="timeline-city-5"></div>

                    <div class="timeline-bubble"></div>
                    <div id="timeline-date-month">
                        <h1>{{citiesPast[4].dateMonth}}

                        </h1>

                    </div>
                    <div id="timeline-date-year">
                        <h2>{{citiesPast[4].dateYear}}</h2>
                    </div>
                    <div id="timeline-city-name" (click)="nextCitySlideshow()">
                        <h3>{{citiesPast[4].cityName}}</h3>

                    </div>
                </li>

            </ul>
        </div>-->
        <div id="timeline-future">
            <div id="timeline-future-top">

            </div>
            <ul>
                <div *ngFor="let city of citiesFuture;  let i=index">
                    <li *ngIf="i<2">
                        <div class="timeline-bubble" id="timeline-city-6"></div>

                        <div class="timeline-bubble"></div>
                        <div id="timeline-date-month">
                            <h1>{{upcoming.flight.departure.departuremonth}}

                            </h1>

                        </div>
                        <div id="timeline-date-year">
                            <h2>{{upcoming.flight.departure.departureyear}}</h2>
                        </div>
                        <div id="timeline-city-name" (click)="CitySlideshow()">
                            <h3>{{city.cityName}}</h3>

                        </div>
                    </li>
                </div>

            </ul>
            <!--<div id="timeline-future-bottom">

            </div>-->
        </div>
    </div>
</div>
