<div id="audio-player">
    <h1>NOW PLAYING</h1>
    <div id="music-desc6">
        <audio id="player" src="{{citiesFuture[0].sound.url}}"></audio>
        <h4>{{citiesFuture[0].sound.desc}}</h4>
    </div>
    <div *ngFor="let city of citiesPast;  let i=index">

        <div *ngIf="i<5">
            <div id="{{ 'music-desc' + (i+1) }}">
                <audio id="player" src="{{city.sound.url}}"></audio>
                <h4>{{city.sound.desc}}</h4>
            </div>
        </div>
    </div>





    <h5>Chris Ledoux</h5>
    <div id="audio-button" (click)="playerManage()"></div>

</div>
