#audio-player {
    bottom: 2%;
    left: 29px;
    width: 200px;
    height: 38px;
    position: absolute;
    z-index: 4;
    filter: drop-shadow(0 0 8px #000);
    #audio-button {
        width: 20px;
        height: 20px;
        bottom: -10px;
        position: absolute;
        margin-left: -1px;
        background: url('../../../assets/images/play.png');
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: drop-shadow(0px 0px 5px #fff);
        filter: drop-shadow(0px 0px 5px #fff);
    }
    #player {
        height: 100%;
        width: 100%;
    }
    h1 {
        font-family: "AvenirLight";
        position: absolute;
        width: 33px;
        left: -100px;
        bottom: -3px;
        color: white;
        font-size: 5px;
        transform: ROTATE(270DEG);
    }
    h4 {
        position: absolute;
        font-family: "AvenirLight";
        left: 28px;
        width: 100%;
        margin-top: 16%;
        line-height: 17px;
        color: white;
        filter: drop-shadow(0 0 5px #000);
        font-size: 16px;
    }
    h5 {
        position: absolute;
        display: none;
        left: 40px;
        bottom: -33px;
        color: white;
        font-size: 12px;
    }
    #music-desc1 {
        display: none;
    }
    #music-desc2 {
        display: none;
    }
    #music-desc3 {
        display: none;
    }
    #music-desc4 {
        display: none;
    }
    #music-desc5 {
        display: none;
    }
    #music-desc6 {
        display: block;
    }
}
