#audio-player {
    bottom: 25px;
    left: 50px;
    width: 200px;
    height: 100px;
    position: absolute;
    z-index: 4;
    filter: drop-shadow(0 0 20px var(--main-timeline-shadow));
    #audio-button {
        width: 30px;
        height: 30px;
        bottom: -10px;
        position: absolute;
        margin-left: -1px;
        background: url('../../../assets/images/play.png');
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: drop-shadow(0px 0px 5px #fff);
        filter: drop-shadow(0px 0px 5px #fff);
    }
    #player {
        height: 100%;
        width: 100%;
    }
    h1 {
        position: absolute;
        width: 46px;
        left: -100px;
        bottom: 1px;
        color: white;
        font-size: 7px;
        transform: ROTATE(270DEG);
    }
    h4 {
        position: absolute;
        left: 40px;
        bottom: -19px;
        color: white;
        font-size: 15px;
    }
    h5 {
        position: absolute;
        left: 40px;
        bottom: -33px;
        color: white;
        font-size: 12px;
    }
}