<div>
    <!--<div id="map"></div>-->
    <div id="ball-out">
        <section class="stage">
            <div id="ballshadow"></div>
            <figure class="ball-in" id="glb1">



                <div class="city-map-name-inner" id="city1">
                    <div id="next-city">Next Destination</div>{{citiesFuture[0].cityName}}</div>
                <!--  <div class="city-map-name-inner" id="city2">{{citiesPast[1].cityName}}</div>
                <div class="city-map-name-inner" id="city3">{{citiesPast[2].cityName}}</div>
                <div class="city-map-name-inner" id="city4">{{citiesPast[3].cityName}}</div>
                <div class="city-map-name-inner" id="city5">{{citiesPast[4].cityName}}</div>


                <div class="city-map-name-inner" id="city6">
                    {{citiesFuture[0].cityName}}</div>-->

            </figure>
            <!-- <a id="wsd">
                <div id="citytext">ASVDDVSD</div>
            </a>

            <figure class="ball-in " id="glb2 ">

            </figure>-->

        </section>
    </div>

    <div id="pin-images">
        <div id="pin"></div>
        <div id="images-stack">
            <div id="image-stack-1"></div>
            <div id="image-stack-2"></div>
            <div id="image-stack-3"></div>
            <div id="image-stack-4"></div>
            <div id="image-stack-5"></div>
        </div>
    </div>


</div>
