<div>
    <!--<div id="map"></div>-->
    <div id="ball-out">
        <section class="stage">
            <div id="ballshadow"></div>
            <figure class="ball-in" id="glb1">
            </figure>
            <figure class="ball-in" id="glb2">

            </figure>
        </section>
    </div>

    <div id="pin-images">
        <div id="pin"></div>
        <div id="images-stack">
            <div id="image-stack-1"></div>
            <div id="image-stack-2"></div>
            <div id="image-stack-3"></div>
            <div id="image-stack-4"></div>
            <div id="image-stack-5"></div>
        </div>
    </div>

    <div id="city-map-name">
        <div *ngFor="let city of citiesPast;  let i=index">
            <div *ngIf="i<5"></div>
        </div>
        <div *ngFor="let city of citiesFuture;  let i=index">

    </div>
</div>