<div>
    <!--<div id="map"></div>-->
    <div id="globe">
        <section class="stage">
            <div id="ballshadow"></div>
            <figure class="ball" id="glb1">
            </figure>
            <figure class="ball" id="glb2">

            </figure>
        </section>
    </div>

    <div id="pin-images">
        <div id="pin"></div>
        <div id="images-stack">
            <div id="image-stack-1"></div>
            <div id="image-stack-2"></div>
            <div id="image-stack-3"></div>
            <div id="image-stack-4"></div>
            <div id="image-stack-5"></div>
        </div>
    </div>
</div>