#map {
    margin-left: 850px;
    width: 1070px;
    height: 1080px;
    //#marker1 {}
}

.marker4 {
    //background-image: url('mapbox-icon.png');
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#marker4 {
    z-index: 43;
    color: black;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
}
