<div id="info-frame">
    <div id="city-longlat">{{citiesFuture[0].longlat}}</div>

    <div id="city-name">{{citiesFuture[0].cityName}}</div>
    <div id="dates"></div>
    <div id="accommodation">
        <div id="accommodation-icon"></div>
        <div class="infotable-inner-texts">

            <h1>Accommodation</h1>
            <div id="hotel-name"></div>
            <div id="hotel-address"></div>
            <div id="hotel-check-in"></div>
            <div id="hotel-check-out"></div>
        </div>
    </div>
    <div id="flight">
        <div id="flight-icon"></div>
        <div class="infotable-inner-texts">

            <h1>Flights</h1>
            <div id="flight-info-outbound">
                <div id="flight-info-outbound-icon"></div>
            </div>
            <div id="flight-info-inbound">
                <div id="flight-info-inbound-icon"></div>
            </div>
        </div>

    </div>
    <div id="weather">
        <div id="weather-icon"></div>
        <div class="infotable-inner-texts">

            <h1>Weather</h1>
            <div id="weather-today"></div>
            <div id="weather-message"></div>

            <div id="weather-1"></div>
            <div id="weather-2"></div>
            <div id="weather-3"></div>
            <div id="weather-4"></div>
        </div>
    </div>
    <div id="info">
        <div id="info-icon"></div>
        <div class="infotable-inner-texts">

            <h1>Information</h1>
            <div id="info-currency">
                <div class="info-titles">Currency</div>{{citiesFuture[0].currency}}</div>
            <div id="info-language">
                <div class="info-titles">Language</div>{{citiesFuture[0].language}}</div>
            <div id="info-countrycode">
                <div class="info-titles">Country Code</div>{{citiesFuture[0].countrycode}}</div>
            <div id="info-timezone">
                <div class="info-titles">Time Zone</div>{{citiesFuture[0].timezone}}</div>
        </div>
    </div>
    <div id="notes">
        <div id="notes-icon"></div>
        <h1>Notes</h1>
    </div>
    <div id="places">
        <div id="places-icon"></div>
        <div class="infotable-inner-texts">

            <h1>Places</h1>
        </div>
    </div>
</div>
