#info-frame {
    width: 850px;
    height: 1080px;
    background: white;
    top: 0px;
    overflow: hidden;
    position: absolute;
    #city-longlat {}
    #city-name {
        color: var(--main-timeline-color);
        top: 10px;
        left: 2px;
        width: 850px;
        position: relative;
        z-index: 4;
        font-family: "AvenirBolder";
        font-size: 100vw;
        text-transform: uppercase;
    }
}
