<div id="back" (click)="hideImagesUpcoming()"> BACK</div>

<div id="places" (click)="nextImageUpcoming();">
    <div id="places-main-inner">


        <canvas id="myCanvas6">
    </canvas>
        <canvas id="myCanvas7">
    </canvas>
        <canvas id="myCanvas8">
    </canvas><canvas id="myCanvas9">
    </canvas><canvas id="myCanvas10">
    </canvas><canvas id="myCanvas11">
      </canvas>
        <canvas id="myCanvas12">
    </canvas> <canvas id="myCanvas13">
    </canvas>
        <div id="cityImages6" *ngIf="allfound">

            <div id="image6-one">
                <div class="places-inner-descs" id="image6-one-inner">
                    <h1>{{pois[0].name}}</h1>
                    <h2>{{places[0].extract}}</h2>
                </div>
                <img id="image6-one-img" data-src={{images[0].largeImageURL}}>
                <div id="image6-1" class="saved">
                    <div id="image6-1-inner" class="image6-inner">Saved!</div>
                </div>

            </div>
            <div id="image6-two">
                <div class="places-inner-descs" id="image6-two-inner">
                    <h1>{{pois[1].name}}</h1>
                    <h2>{{places[1].extract}}</h2>
                </div>
                <img id="image6-two-img" data-src={{images[1].largeImageURL}}>
                <div id="image6-2" class="saved">
                    <div id="image6-2-inner" class="image6-inner">Saved!</div>
                </div>

            </div>
            <div id="image6-three">
                <div class="places-inner-descs" id="image6-three-inner">
                    <h1>{{pois[2].name}}</h1>
                    <h2>{{places[2].extract}}</h2>
                </div>
                <img id="image6-three-img" data-src={{images[2].largeImageURL}}>
                <div id="image6-3" class="saved">
                    <div id="image6-3-inner" class="image6-inner">Saved!</div>
                </div>
            </div>
            <div id="image6-four">
                <div class="places-inner-descs" id="image6-four-inner">
                    <h1>{{pois[3].name}}</h1>
                    <h2>{{places[3].extract}}</h2>
                </div>
                <img id="image6-four-img" data-src={{images[3].largeImageURL}}>
                <div id="image6-4" class="saved">
                    <div id="image6-4-inner" class="image6-inner">Saved!</div>
                </div>
            </div>
            <div id="image6-five">
                <div class="places-inner-descs" id="image6-five-inner">
                    <h1>{{pois[4].name}}</h1>
                    <h2>{{places[4].extract}}</h2>
                </div> <img id="image6-five-img" data-src={{images[4].largeImageURL}}>
                <div id="image6-5" class="saved">
                    <div id="image6-5-inner" class="image6-inner">Saved!</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--

<div id="places2" (click)="nextImageUpcoming();">
    <div id="places-main-inner">
        <canvas id="myCanvas">
          </canvas>
        <canvas id="myCanvas1">
            </canvas>
        <canvas id="myCanvas2">
              </canvas><canvas id="myCanvas3">
                </canvas><canvas id="myCanvas4">
                  </canvas><canvas id="myCanvas5">
                    </canvas>
        <div id="cityImages6">
            <div id="image6-one">
                <div class="places-inner-descs" id="image6-one-inner">
                    <h1>{{citiesFuture[0].photos.one.title}}</h1>
                    <h2>{{citiesFuture[0].photos.one.desc}}</h2>
                </div>
                <img id="image6-one-img" data-src={{citiesFuture[0].photos.one.url}}>
                <div id="image6-1" class="saved">
                    <div id="image6-1-inner" class="image6-inner">Saved!</div>
                </div>

            </div>
            <div id="image6-two">
                <div class="places-inner-descs" id="image6-two-inner">
                    <h1>{{citiesFuture[0].photos.two.title}}</h1>
                    <h2>{{citiesFuture[0].photos.two.desc}}</h2>
                </div>
                <img id="image6-two-img" data-src={{citiesFuture[0].photos.two.url}}>
                <div id="image6-2" class="saved">
                    <div id="image6-2-inner" class="image6-inner">Saved!</div>
                </div>

            </div>
            <div id="image6-three">
                <div class="places-inner-descs" id="image6-three-inner">
                    <h1>{{citiesFuture[0].photos.three.title}}</h1>
                    <h2>{{citiesFuture[0].photos.three.desc}}</h2>
                </div>
                <img id="image6-three-img" data-src={{citiesFuture[0].photos.three.url}}>
                <div id="image6-3" class="saved">
                    <div id="image6-3-inner" class="image6-inner">Saved!</div>
                </div>
            </div>
            <div id="image6-four">
                <div class="places-inner-descs" id="image6-four-inner">
                    <h1>{{citiesFuture[0].photos.four.title}}</h1>
                    <h2>{{citiesFuture[0].photos.four.desc}}</h2>
                </div>
                <img id="image6-four-img" data-src={{citiesFuture[0].photos.four.url}}>
                <div id="image6-4" class="saved">
                    <div id="image6-4-inner" class="image6-inner">Saved!</div>
                </div>
            </div>
            <div id="image6-five">
                <div class="places-inner-descs" id="image6-five-inner">
                    <h1>{{citiesFuture[0].photos.five.title}}</h1>
                    <h2>{{citiesFuture[0].photos.five.desc}}</h2>
                </div> <img id="image6-five-img" data-src={{citiesFuture[0].photos.five.url}}>
                <div id="image6-5" class="saved">
                    <div id="image6-5-inner" class="image6-inner">Saved!</div>
                </div>
            </div>
        </div>
    </div>
</div>-->