<div id="places" (click)="nextImageUpcoming();">
    <div id="places-main-inner">
        <canvas id="myCanvas">
          </canvas>
        <canvas id="myCanvas1">
            </canvas>
        <canvas id="myCanvas2">
              </canvas><canvas id="myCanvas3">
                </canvas><canvas id="myCanvas4">
                  </canvas><canvas id="myCanvas5">
                    </canvas>
        <div id="cityImages6">
            <div id="image6-one">
                <div class="places-inner-descs" id="image6-one-inner">
                    <h1>{{citiesFuture[0].photos.one.title}}</h1>
                    <h2>{{citiesFuture[0].photos.one.desc}}</h2>
                </div>
                <img id="image6-one-img" data-src={{citiesFuture[0].photos.one.url}}></div>
            <div id="image6-two">
                <div class="places-inner-descs" id="image6-two-inner">
                    <h1>{{citiesFuture[0].photos.two.title}}</h1>
                    <h2>{{citiesFuture[0].photos.two.desc}}</h2>
                </div>
                <img id="image6-two-img" data-src={{citiesFuture[0].photos.two.url}}>
            </div>
            <div id="image6-three">
                <div class="places-inner-descs" id="image6-three-inner">
                    <h1>{{citiesFuture[0].photos.three.title}}</h1>
                    <h2>{{citiesFuture[0].photos.three.desc}}</h2>
                </div>
                <img id="image6-three-img" data-src={{citiesFuture[0].photos.three.url}}></div>
            <div id="image6-four">
                <div class="places-inner-descs" id="image6-four-inner">
                    <h1>{{citiesFuture[0].photos.four.title}}</h1>
                    <h2>{{citiesFuture[0].photos.four.desc}}</h2>
                </div>
                <img id="image6-four-img" data-src={{citiesFuture[0].photos.four.url}}></div>
            <div id="image6-five">
                <div class="places-inner-descs" id="image6-five-inner">
                    <h1>{{citiesFuture[0].photos.five.title}}</h1>
                    <h2>{{citiesFuture[0].photos.five.desc}}</h2>
                </div> <img id="image6-five-img" data-src={{citiesFuture[0].photos.five.url}}></div>
        </div>
    </div>
</div>
