#image-main {
    width: 1920px;
    height: auto;
    display: none;
}

#image-main-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    img {
        width: 1920px;
        height: auto;
        z-index: 1;
        position: absolute;
    }
    .image-inner-descs {
        position: absolute;
        top: 200px;
        left: 200px;
        display: none;
        h1 {
            width: 250px;
            //font-size: 20px;
            font-size: 0.8vw;
            color: white;
            mix-blend-mode: difference;
            font-family: "AvenirBold";
            overflow-y: hidden;
            height: 20px;
            text-align: left;
            position: absolute;
            z-index: 2;
        }
        h2 {
            padding-top: 22px;
            width: 250px;
            color: white;
            font-size: 10px;
            mix-blend-mode: difference;
            height: 200px;
            position: absolute;
            overflow: hidden;
            z-index: 2;
        }
    }
    #cityImages1 {
        display: none;
    }
    #cityImages2 {
        display: none;
    }
    #cityImages3 {
        display: none;
    }
    #cityImages4 {
        display: none;
    }
    #cityImages5 {
        display: none;
    }
    #cityImages6 {
        display: none;
    }
}

#myCanvas {
    position: absolute;
    z-index: 5;
    top: 200px;
    display: none;
}

#myCanvas1 {
    left: 900px;
    position: absolute;
    z-index: 5;
    display: none;
}

#myCanvas2 {
    left: 500px;
    position: absolute;
    z-index: 5;
    display: none;
}

#myCanvas3 {
    left: 800px;
    position: absolute;
    z-index: 5;
    display: none;
}

#myCanvas4 {
    top: 500px;
    position: absolute;
    z-index: 5;
    display: none;
}

#myCanvas5 {
    top: 800px;
    position: absolute;
    z-index: 5;
    display: none;
}
