<div id="image-main" (click)="pause()">
    <div id="image-main-inner">
        <div *ngFor="let city of citiesPast;  let i=index">
            <canvas id="myCanvas">
            </canvas>
            <canvas id="myCanvas1">
              </canvas>
            <canvas id="myCanvas2">
                </canvas><canvas id="myCanvas3">
                  </canvas><canvas id="myCanvas4">
                    </canvas><canvas id="myCanvas5">
                      </canvas>
            <div *ngIf="i<5">
                <div id="{{ 'cityImages' + (i+1) }}">
                    <div id="{{ 'image' + (i+1) +'-one'}}">
                        <div class="image-inner-descs" id="{{ 'image' + (i+1) +'-one-inner'}}">
                            <h1>{{city.photos.one.title}}</h1>
                            <h2>{{city.photos.one.desc}}</h2>
                        </div>
                        <img id="{{ 'image' + (i+1) +'-one-img'}}" data-src={{city.photos.one.url}}></div>
                    <div id="{{ 'image' + (i+1) +'-two'}}">
                        <div class="image-inner-descs" id="{{ 'image' + (i+1) +'-two-inner'}}">
                            <h1>{{city.photos.two.title}}</h1>
                            <h2>{{city.photos.two.desc}}</h2>
                        </div>
                        <img id="{{ 'image' + (i+1) +'-two-img'}}" data-src={{city.photos.two.url}}>
                    </div>
                    <div id="{{ 'image' + (i+1) +'-three'}}">
                        <div class="image-inner-descs" id="{{ 'image' + (i+1) +'-three-inner'}}">
                            <h1>{{city.photos.three.title}}</h1>
                            <h2>{{city.photos.three.desc}}</h2>
                        </div>
                        <img id="{{ 'image' + (i+1) +'-three-img'}}" data-src={{city.photos.three.url}}></div>
                    <div id="{{ 'image' + (i+1) +'-four'}}">
                        <div class="image-inner-descs" id="{{ 'image' + (i+1) +'-four-inner'}}">
                            <h1>{{city.photos.four.title}}</h1>
                            <h2>{{city.photos.four.desc}}</h2>
                        </div>
                        <img id="{{ 'image' + (i+1) +'-four-img'}}" data-src={{city.photos.four.url}}></div>
                    <div id="{{ 'image' + (i+1) +'-five'}}">
                        <div class="image-inner-descs" id="{{ 'image' + (i+1) +'-five-inner'}}">
                            <h1>{{city.photos.five.title}}</h1>
                            <h2>{{city.photos.five.desc}}</h2>
                        </div>
                        <img id="{{ 'image' + (i+1) +'-five-img'}}" data-src={{city.photos.five.url}}></div>
                </div>
            </div>
        </div>
        <!--
        <div id="cityImages1">
            <div id="image1-one">
                <div class="image-inner-descs" id="image1-one-inner">
                    <h1>{{citiesPast[0].photos.one.title}}</h1>
                    <h2>{{citiesPast[0].photos.one.desc}}</h2>
                </div>
                <canvas id="myCanvas">
                  </canvas>
                <canvas id="myCanvas1">
                    </canvas>
                <canvas id="myCanvas2">
                      </canvas><canvas id="myCanvas3">
                        </canvas><canvas id="myCanvas4">
                          </canvas><canvas id="myCanvas5">
                            </canvas>
                <img id="image1-one-img" data-src={{citiesPast[0].photos.one.url}}></div>
            <div id="image1-two">
                <div class="image-inner-descs" id="image1-two-inner">
                    <h1>{{citiesPast[0].photos.two.title}}</h1>
                    <h2>{{citiesPast[0].photos.two.desc}}</h2>
                </div>
                <img id="image1-two-img" data-src={{citiesPast[0].photos.two.url}}>
            </div>
            <div id="image1-three">
                <div class="image-inner-descs" id="image1-three-inner">
                    <h1>{{citiesPast[0].photos.three.title}}</h1>
                    <h2>{{citiesPast[0].photos.three.desc}}</h2>
                </div>
                <img id="image1-three-img" data-src={{citiesPast[0].photos.three.url}}></div>
            <div id="image1-four">
                <div class="image-inner-descs" id="image1-four-inner">
                    <h1>{{citiesPast[0].photos.four.title}}</h1>
                    <h2>{{citiesPast[0].photos.four.desc}}</h2>
                </div>
                <img id="image1-four-img" data-src={{citiesPast[0].photos.four.url}}></div>
            <div id="image1-five">
                <div class="image-inner-descs" id="image1-five-inner">
                    <h1>{{citiesPast[0].photos.five.title}}</h1>
                    <h2>{{citiesPast[0].photos.five.desc}}</h2>
                </div> <img id="image1-five-img" data-src={{citiesPast[0].photos.five.url}}></div>
        </div>
        <div id="cityImages2">
            <div id="image2-one">
                <div class="image-inner-descs" id="image2-one-inner">
                    <h1>{{citiesPast[1].photos.one.title}}</h1>
                    <h2>{{citiesPast[1].photos.one.desc}}</h2>
                </div>
                <img id="image2-one-img" data-src={{citiesPast[1].photos.one.url}}></div>
            <div id="image2-two">
                <div class="image-inner-descs" id="image2-two-inner">
                    <h1>{{citiesPast[1].photos.two.title}}</h1>
                    <h2>{{citiesPast[1].photos.two.desc}}</h2>
                </div>
                <img id="image2-two-img" data-src={{citiesPast[1].photos.two.url}}>
            </div>
            <div id="image2-three">
                <div class="image-inner-descs" id="image2-three-inner">
                    <h1>{{citiesPast[1].photos.three.title}}</h1>
                    <h2>{{citiesPast[1].photos.three.desc}}</h2>
                </div>
                <img id="image2-three-img" data-src={{citiesPast[1].photos.three.url}}></div>
            <div id="image2-four">
                <div class="image-inner-descs" id="image2-four-inner">
                    <h1>{{citiesPast[1].photos.four.title}}</h1>
                    <h2>{{citiesPast[1].photos.four.desc}}</h2>
                </div>
                <img id="image2-four-img" data-src={{citiesPast[1].photos.four.url}}></div>
            <div id="image2-five">
                <div class="image-inner-descs" id="image2-five-inner">
                    <h1>{{citiesPast[1].photos.five.title}}</h1>
                    <h2>{{citiesPast[1].photos.five.desc}}</h2>
                </div> <img id="image2-five-img" data-src={{citiesPast[1].photos.five.url}}></div>
        </div>
        <div id="cityImages3">

            <div id="image3-one">
                <div class="image-inner-descs" id="image3-one-inner">
                    <h1>{{citiesPast[2].photos.one.title}}</h1>
                    <h2>{{citiesPast[2].photos.one.desc}}</h2>
                </div>
                <img id="image3-one-img" data-src={{citiesPast[2].photos.one.url}}></div>
            <div id="image3-two">
                <div class="image-inner-descs" id="image3-two-inner">
                    <h1>{{citiesPast[2].photos.two.title}}</h1>
                    <h2>{{citiesPast[2].photos.two.desc}}</h2>
                </div>
                <img id="image3-two-img" data-src={{citiesPast[2].photos.two.url}}>
            </div>
            <div id="image3-three">
                <div class="image-inner-descs" id="image3-three-inner">
                    <h1>{{citiesPast[2].photos.three.title}}</h1>
                    <h2>{{citiesPast[2].photos.three.desc}}</h2>
                </div>
                <img id="image3-three-img" data-src={{citiesPast[2].photos.three.url}}></div>
            <div id="image3-four">
                <div class="image-inner-descs" id="image3-four-inner">
                    <h1>{{citiesPast[2].photos.four.title}}</h1>
                    <h2>{{citiesPast[2].photos.four.desc}}</h2>
                </div>
                <img id="image3-four-img" data-src={{citiesPast[2].photos.four.url}}></div>
            <div id="image3-five">
                <div class="image-inner-descs" id="image3-five-inner">
                    <h1>{{citiesPast[2].photos.five.title}}</h1>
                    <h2>{{citiesPast[2].photos.five.desc}}</h2>
                </div> <img id="image3-five-img" data-src={{citiesPast[2].photos.five.url}}></div>
        </div>
        <div id="cityImages4">
            <div id="image4-one">
                <div class="image-inner-descs" id="image4-one-inner">
                    <h1>{{citiesPast[3].photos.one.title}}</h1>
                    <h2>{{citiesPast[3].photos.one.desc}}</h2>
                </div>
                <img id="image4-one-img" data-src={{citiesPast[3].photos.one.url}}></div>
            <div id="image4-two">
                <div class="image-inner-descs" id="image4-two-inner">
                    <h1>{{citiesPast[3].photos.two.title}}</h1>
                    <h2>{{citiesPast[3].photos.two.desc}}</h2>
                </div>
                <img id="image4-two-img" data-src={{citiesPast[3].photos.two.url}}>
            </div>
            <div id="image4-three">
                <div class="image-inner-descs" id="image4-three-inner">
                    <h1>{{citiesPast[3].photos.three.title}}</h1>
                    <h2>{{citiesPast[3].photos.three.desc}}</h2>
                </div>
                <img id="image4-three-img" data-src={{citiesPast[3].photos.three.url}}></div>
            <div id="image4-four">
                <div class="image-inner-descs" id="image4-four-inner">
                    <h1>{{citiesPast[3].photos.four.title}}</h1>
                    <h2>{{citiesPast[3].photos.four.desc}}</h2>
                </div>
                <img id="image4-four-img" data-src={{citiesPast[3].photos.four.url}}></div>
            <div id="image4-five">
                <div class="image-inner-descs" id="image4-five-inner">
                    <h1>{{citiesPast[3].photos.five.title}}</h1>
                    <h2>{{citiesPast[3].photos.five.desc}}</h2>
                </div> <img id="image4-five-img" data-src={{citiesPast[3].photos.five.url}}></div>
        </div>

        <div id="cityImages5">
            <div id="image5-one">
                <div class="image-inner-descs" id="image5-one-inner">
                    <h1>{{citiesPast[4].photos.one.title}}</h1>
                    <h2>{{citiesPast[4].photos.one.desc}}</h2>
                </div>
                <img id="image5-one-img" data-src={{citiesPast[4].photos.one.url}}></div>
            <div id="image5-two">
                <div class="image-inner-descs" id="image5-two-inner">
                    <h1>{{citiesPast[4].photos.two.title}}</h1>
                    <h2>{{citiesPast[4].photos.two.desc}}</h2>
                </div>
                <img id="image5-two-img" data-src={{citiesPast[4].photos.two.url}}>
            </div>
            <div id="image5-three">
                <div class="image-inner-descs" id="image5-three-inner">
                    <h1>{{citiesPast[4].photos.three.title}}</h1>
                    <h2>{{citiesPast[4].photos.three.desc}}</h2>
                </div>
                <img id="image5-three-img" data-src={{citiesPast[4].photos.three.url}}></div>
            <div id="image5-four">
                <div class="image-inner-descs" id="image5-four-inner">
                    <h1>{{citiesPast[4].photos.four.title}}</h1>
                    <h2>{{citiesPast[4].photos.four.desc}}</h2>
                </div>
                <img id="image5-four-img" data-src={{citiesPast[4].photos.four.url}}></div>
            <div id="image5-five">
                <div class="image-inner-descs" id="image5-five-inner">
                    <h1>{{citiesPast[4].photos.five.title}}</h1>
                    <h2>{{citiesPast[4].photos.five.desc}}</h2>
                </div> <img id="image5-five-img" data-src={{citiesPast[4].photos.five.url}}></div>
        </div>-->
        <div id="cityImages6" *ngIf="allfound">
            <div id="image6-one">
                <div class="image-inner-descs" id="image6-one-inner">
                    <h1>{{pois[0].name}}</h1>
                    <h2>{{places[0]}}</h2>
                </div>
                <img id="image6-one-img" data-src={{images[0].largeImageURL}}></div>
            <div id="image6-two">
                <div class="image-inner-descs" id="image6-two-inner">
                    <h1>{{pois[1].name}}</h1>
                    <h2>{{places[1]}}</h2>
                </div>
                <img id="image6-two-img" data-src={{images[1].largeImageURL}}>
            </div>
            <div id="image6-three">
                <div class="image-inner-descs" id="image6-three-inner">
                    <h1>{{pois[2].name}}</h1>
                    <h2>{{places[2]}}</h2>
                </div>
                <img id="image6-three-img" data-src={{images[2].largeImageURL}}></div>
            <div id="image6-four">
                <div class="image-inner-descs" id="image6-four-inner">
                    <h1>{{pois[3].name}}</h1>
                    <h2>{{places[3]}}</h2>
                </div>
                <img id="image6-four-img" data-src={{images[3].largeImageURL}}></div>
            <div id="image6-five">
                <div class="image-inner-descs" id="image6-five-inner">
                    <h1>{{pois[4].name}}</h1>
                    <h2>{{places[4]}}</h2>
                </div> <img id="image6-five-img" data-src={{images[4].largeImageURL}}></div>
        </div>
    </div>

</div>