#mobile {
    z-index: 7;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #122323, #121426);
    .submit-outer {
        width: 84px;
        height: 84px;
        margin-top: 187px;
        left: 48%;
        position: absolute;
        font-size: 35px;
        background: none;
        border: 6px solid #ffffff;
        border-radius: 50%;
        transition: 1s;
        outline: 0;
        .submit {
            width: 22px;
            height: 22px;
            left: 14px;
            top: 19px;
            position: absolute;
            font-size: 35px;
            font-size: 40px;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            color: #f7f7ff;
            appearance: none;
            content: ">";
            border: solid white;
            border-width: 0px 7px 7px 0;
            transform: rotate(-45deg);
            display: inline-block;
            padding: 3px;
            transition: 1s;
            outline: 0;
        }
        .submit:active {
            outline: 0;
            border-color: rgba(255, 255, 255, 0.233);
        }
    }
    .submit-outer:active {
        outline: 0;
        border-color: #ffffff41;
    }
    form {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 50%;
        .form-text {
            font-size: 40px;
            padding-top: 5%;
            padding-bottom: 1%;
            color: rgba(255, 255, 255, 0.596);
        }
        input {
            width: 300px;
            height: 80px;
            border: 2px solid white;
            border-radius: 0px 55px 55px 55px;
            font-size: 20px;
            color: rgb(22, 21, 26);
        }
        input:focus {
            outline: none;
        }
        select {
            width: 300px;
            height: 80px;
            border: 2px solid white;
            border-radius: 0px 55px 55px 55px;
            font-size: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            appearance: none;
            /* Remove default arrow */
            content: ">";
            /* Add custom arrow */
        }
    }
    #form-country {
        font-size: 25px;
        padding-left: 20px;
        background: white;
        width: 325px;
        height: 86px;
    }
    #form-city {
        font-size: 25px;
        padding-left: 20px;
    }
}