<div id='info-bubble' *ngFor="let city of citiesFuture">
    <div *ngIf="city.cityName==='Copenhagen'">
        <div class='info-bubble-inner-shadow' id="info-bubble-inner-shadow-1">
            <div class='info-bubble-inner' id='info-bubble-inner-1'>

                <h5 class="info-bubble-title">Language</h5>
                <h6 class="info-bubble-desc" id="info-bubble-desc-lang">{{city.language}}</h6>
                <h5 class="info-bubble-inner-title">Speak the lingo:</h5>
                <h6 class="info-bubble-desc">{{city.lingo}}</h6>
                <h6 class="info-bubble-inner-trans">(ENG) Good morning!</h6>

            </div>
        </div>
        <div class='info-bubble-inner-shadow' id="info-bubble-inner-shadow-2">

            <div class='info-bubble-inner' id='info-bubble-inner-2'>
                <h5 class="info-bubble-title">Timezone</h5>
                <h6 class="info-bubble-desc">{{city.timezone}}</h6>
            </div>
        </div>

        <div class='info-bubble-inner-shadow' id="info-bubble-inner-shadow-3">

            <div class='info-bubble-inner' id='info-bubble-inner-3'>
                <h5 class="info-bubble-title">Country Code</h5>
                <h6 class="info-bubble-desc">{{city.countrycode}}</h6>
            </div>
        </div>

        <div class='info-bubble-inner-shadow' id="info-bubble-inner-shadow-4">

            <div class='info-bubble-inner' id='info-bubble-inner-4'>
                <h5 class="info-bubble-title">Currrency</h5>
                <h6 class="info-bubble-desc">{{city.currency}}</h6>
            </div>
        </div>

        <div class='info-bubble-inner-shadow' id="info-bubble-inner-shadow-5">

            <div class='info-bubble-inner' id='info-bubble-inner-5'>
                <h5 class="info-bubble-title">Weather</h5>
                <h6 class="info-bubble-average-temps">Average Temperatures</h6>
                <h6 class="info-bubble-desc" id="info-bubble-desc-weather-high">{{city.weather.temphigh}}</h6>
                <h6 class="info-bubble-desc" id="info-bubble-desc-weather-low">{{city.weather.templow}}</h6>
                <h6 class="info-bubble-average-rainy">Average Rainy Days</h6>
                <h6 class="info-bubble-desc" id="info-bubble-desc-weather-days">{{city.weather.rainydays}}</h6>


            </div>
        </div>

    </div>
</div>