<div id='info-bubble' *ngIf="infoFoundWeather">
    <div id='info-bubble-1'>
        <div class='info-bubble-inner-shadow' id="info-bubble-inner-shadow-1">
            <div class='info-bubble-inner' id='info-bubble-inner-1'>

                <h5 class="info-bubble-title" *ngIf="phraseFound">Language</h5>
                <h6 class="info-bubble-desc" id="info-bubble-desc-lang">{{citiesFuture[0].language}}</h6>
                <h5 class="info-bubble-inner-title">Speak the lingo:</h5>
                <h6 class="info-bubble-desc">'{{citiesFuture[0].lingo}}'</h6>
                <h6 class="info-bubble-inner-trans" id="trans-id" *ngIf="hideTranslation">(ENG) Good morning!</h6>

            </div>
        </div>
    </div>
    <div id='info-bubble-2'>
        <div class='info-bubble-inner-shadow' id="info-bubble-inner-shadow-2">

            <div class='info-bubble-inner' id='info-bubble-inner-2'>
                <h5 class="info-bubble-title">Timezone</h5>
                <h6 class="info-bubble-desc">{{citiesFuture[0].timezone}}</h6>
            </div>
        </div>
    </div>
    <div id='info-bubble-3'>
        <div class='info-bubble-inner-shadow' id="info-bubble-inner-shadow-3">

            <div class='info-bubble-inner' id='info-bubble-inner-3'>
                <h5 class="info-bubble-title">Country Code</h5>
                <h6 class="info-bubble-desc">{{citiesFuture[0].countrycode}}</h6>
            </div>
        </div>
    </div>
    <div id='info-bubble-4'>
        <div class='info-bubble-inner-shadow' id="info-bubble-inner-shadow-4">

            <div class='info-bubble-inner' id='info-bubble-inner-4'>
                <h5 class="info-bubble-title">Currrency</h5>
                <h6 class="info-bubble-desc">{{citiesFuture[0].currency}}</h6>
            </div>
        </div>
    </div>
    <div id='info-bubble-5'>
        <div class='info-bubble-inner-shadow' id="info-bubble-inner-shadow-5">

            <div class='info-bubble-inner' id='info-bubble-inner-5'>
                <h5 class="info-bubble-title">Weather</h5>
                <h6 class="info-bubble-average-temps">Average Temperatures</h6>
                <h6 class="info-bubble-desc" id="info-bubble-desc-weather-high">{{citiesFuture[0].weather.temphigh}}°</h6>
                <h6 class="info-bubble-desc" id="info-bubble-desc-weather-low">{{citiesFuture[0].weather.templow}}°-</h6>
                <h6 class="info-bubble-average-rainy">Precipitation</h6>
                <h6 class="info-bubble-desc" id="info-bubble-desc-weather-days">{{citiesFuture[0].weather.rainydays}}</h6>


            </div>
        </div>
    </div>
</div>