#image-main {
    width: 1920px;
    height: auto;
    display: none;
}

#image-main-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    img {
        width: 1920px;
        height: 100vh;
        object-fit: cover;
        z-index: 1;
        position: absolute;
    }
    .image-inner-descs {
        position: absolute;
        top: 200px;
        left: 200px;
        display: none;
        h1 {
            width: 250px;
            //font-size: 20px;
            font-size: 0.8vw;
            color: white;
            mix-blend-mode: difference;
            font-family: "AvenirBold";
            overflow-y: hidden;
            height: 20px;
            text-align: left;
            position: absolute;
            z-index: 2;
        }
        h2 {
            padding-top: 22px;
            width: 250px;
            color: white;
            font-size: 10px;
            mix-blend-mode: difference;
            height: 200px;
            position: absolute;
            overflow: hidden;
            z-index: 2;
        }
    }
    #cityImages6 {
        display: none;
    }
}