<div id="away">
    <div id="back" (click)="return()"> BACK</div>

    <div id="image-main">
        <div id="image-main-inner">
            <div id="cityImages6">
                <div id="image6-one">

                    <div id="image6-five" *ngIf="allfound">
                        <div class="image-inner-descs" id="image6-five-inner">

                        </div> <img id="image6-five-img" data-src={{images[0].largeImageURL}}></div>

                </div>
            </div>

        </div>
    </div>