<div id="away">
    <div id='info-bubble'>

        <div id='info-bubble-1'>
            <h5 class="info-bubble-title">Mario</h5>

            <div class='info-bubble-inner-shadow' id="info-bubble-inner-shadow-1">
                <div class='info-bubble-inner' id='info-bubble-inner-1'>
                    <h6 class="info-bubble-desc">{{citiesFuture[0].lingo}} :)</h6>

                </div>
            </div>
        </div>
        <div id='info-bubble-2'>
            <div class='info-bubble-inner-shadow' id="info-bubble-inner-shadow-2">

                <div class='info-bubble-inner' id='info-bubble-inner-2'>
                    <h6 class="info-bubble-desc">Sending you a pic from today. See you soon!</h6>
                </div>
            </div>
        </div>
    </div>
</div>