/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "AvenirLight";
    src: url("/assets/font/avenir/AvenirNextLTPro-UltLt.otf");
    font-weight: light;
}

@font-face {
    font-family: "Avenir";
    src: url("/assets/font/avenir/AvenirLTStd-Roman.otf");
    font-weight: normal;
}

@font-face {
    font-family: "AvenirMedium";
    src: url("/assets/font/avenir/AvenirLTStd-Medium.otf");
}

@font-face {
    font-family: "AvenirBold";
    src: url("/assets/font/avenir/AvenirLTStd-Heavy.otf");
    font-weight: bold;
}

@font-face {
    font-family: "AvenirBolder";
    src: url("/assets/font/avenir/AvenirLTStd-Black.otf");
    font-weight: bolder;
}

html,
body {
    font-family: Avenir;
    overflow: hidden;
    position: relative;
    height: 1080px;
    width: 1920px;
    margin: 0;
    padding: 0;
    top: 0%;
    margin: 0%;
    background: linear-gradient(0deg, #122323, #121426);
    //background: linear-gradient(0deg, var(--main-timeline-color), #121426);
    --main-timeline-color: #c29595;
    --main-timeline-color-upcoming: #c29595;
    --main-timeline-shadow: #000;
    --main-timeline-color-1: rgb(117, 90, 90);
    --main-timeline-color-2: rgb(139, 139, 117);
    --main-timeline-color-3: rgb(106, 153, 116);
    --main-timeline-color-4: rgb(119, 151, 160);
    --main-timeline-color-5: rgb(167, 126, 136);
}

#back {
    opacity: 0;
    width: 150px;
    height: 70px;
    position: absolute;
    color: white;
    padding-top: 10px;
    z-index: 7;
    left: 50%;
    -webkit-filter: drop-shadow(0 0 7px black);
    filter: drop-shadow(0 0 7px black);
}

#back:hover {
    opacity: 1;
}